interactions:
- request:
    body: '{"name": "helloworld", "type": "Microsoft.Web/sites"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"Hostname
        ''helloworld'' already exists. Please select a different name."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2019-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg3hmw77wrsjsdcbnygukjfbngnh7mfuzdwzckwy3iiufw7336iubsa7zwrpqpxeohq/providers/Microsoft.Web/sites/up-name-exists-appovrpnrorf63eovtoesgtcj","name":"up-name-exists-appovrpnrorf63eovtoesgtcj","type":"Microsoft.Web/sites","kind":"app,linux","location":"Japan
        West","properties":{"name":"up-name-exists-appovrpnrorf63eovtoesgtcj","state":"Running","hostNames":["up-name-exists-appovrpnrorf63eovtoesgtcj.azurewebsites.net"],"webSpace":"clitest.rg3hmw77wrsjsdcbnygukjfbngnh7mfuzdwzckwy3iiufw7336iubsa7zwrpqpxeohq-JapanWestwebspace","selfLink":"https://waws-prod-os1-009.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg3hmw77wrsjsdcbnygukjfbngnh7mfuzdwzckwy3iiufw7336iubsa7zwrpqpxeohq-JapanWestwebspace/sites/up-name-exists-appovrpnrorf63eovtoesgtcj","repositorySiteName":"up-name-exists-appovrpnrorf63eovtoesgtcj","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["up-name-exists-appovrpnrorf63eovtoesgtcj.azurewebsites.net","up-name-exists-appovrpnrorf63eovtoesgtcj.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"python|3.7"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":[],"csrs":[],"cers":null,"siteMode":"Limited","hostNameSslStates":[{"name":"up-name-exists-appovrpnrorf63eovtoesgtcj.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"up-name-exists-appovrpnrorf63eovtoesgtcj.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":"Dedicated","serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg3hmw77wrsjsdcbnygukjfbngnh7mfuzdwzckwy3iiufw7336iubsa7zwrpqpxeohq/providers/Microsoft.Web/serverfarms/up-name-exists-pland32hmxj5cooc3bhl6xzor","reserved":true,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2020-07-15T22:24:33.03","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":null,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":null,"windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":null,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"ipSecurityRestrictions":null,"scmIpSecurityRestrictions":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":null,"minTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"up-name-exists-appovrpnrorf63eovtoesgtcj","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"A5B12E93C19D795D34DF79C449C2C3BAF58329ACBE54CAAF49EDCD93822ACCE8","kind":"app,linux","inboundIpAddress":"104.215.58.230","possibleInboundIpAddresses":"104.215.58.230","ftpUsername":"up-name-exists-appovrpnrorf63eovtoesgtcj\\$up-name-exists-appovrpnrorf63eovtoesgtcj","ftpsHostName":"ftps://waws-prod-os1-009.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"104.215.58.230,104.215.53.202,104.215.62.87,104.215.51.91,104.215.63.211","possibleOutboundIpAddresses":"104.215.58.230,104.215.53.202,104.215.62.87,104.215.51.91,104.215.63.211,13.73.235.66,104.215.11.91","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-os1-009","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg3hmw77wrsjsdcbnygukjfbngnh7mfuzdwzckwy3iiufw7336iubsa7zwrpqpxeohq","defaultHostName":"up-name-exists-appovrpnrorf63eovtoesgtcj.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/calvin-delete-this-rg/providers/Microsoft.Web/sites/q","name":"q","type":"Microsoft.Web/sites","kind":"app,linux","location":"France
        Central","properties":{"name":"q","state":"Running","hostNames":["q.azurewebsites.net"],"webSpace":"calvin-delete-this-rg-FranceCentralwebspace","selfLink":"https://waws-prod-par-011.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/[...]
[...]
